<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random User Generator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="container" :class="{ 'light-bgcolor': bgcolor, 'dark-bgcolor': !bgcolor }">
            <div class="change">
                <h1 :class="{ 'light-textcolor': !bgcolor, 'dark-textcolor': bgcolor }">Random User Generator</h1>
                <div class="btn-flex">
                    <button type="button" @click="getData">換一組</button>
                    <i class="fa-solid fa-toggle-off" :class="bgcolor === true ? 'fa-toggle-off':'fa-toggle-on', { 'light-textcolor': !bgcolor, 'dark-textcolor': bgcolor }" @click="switchBg"></i>
                </div>   
            </div>

            <div class="row">
                <div class="col" v-for="item in data">
                    <div class="card">
                        <img :src="item.picture.large">
                        <h3>
                            {{ item.name.title }}
                            {{ item.name.first }}
                            {{ item.name.last }}
                        </h3>
                        <ul>
                            <li>
                                Gender : {{ item.gender }}
                                <i class="fa-solid fa-venus" v-if="item.gender === 'female'"></i>
                                <i class="fa-solid fa-mars" v-else></i>
                            </li>
                            <li>Email : {{ item.email }}</li>
                            <li>Phone : {{ item.phone }}</li>
                            <li>Cell : {{ item.cell }}</li>
                            <li>City : {{ item.location.city }}</li>
                        </ul>
                        <div class="icons">
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://kit.fontawesome.com/5ed6520c8d.js" crossorigin="anonymous"></script>
   
    <script>
        Vue.createApp({
            data() {
                return {
                    data: [],
                    bgcolor: true,
                }
            },
            methods: {
                getData() {
                    fetch('https://randomuser.me/api/?results=8').then((res) => {
                        return res.json(); 
                    }).then((jsonData) => {
                        console.log(jsonData);
                        this.data = jsonData.results;
                    });
                },
                switchBg(){
                    this.bgcolor = !this.bgcolor;
                },
            },
            mounted() {
               this.getData();
            }
        }).mount('#app');
    </script>
</body>
</html>